In [21]:
--Augabe_01--
USE Zugdatenbank;
SELECT Gleise, Name FROM Bahnhoefe WHERE Gleise = (SELECT MAX(Gleise) FROM Bahnhoefe)

Gleise,Name
52,Zürich HB

In [13]:
--Aufgabe_02--
USE Zugdatenbank;
SELECT Gleise, Name FROM Bahnhoefe WHERE Gleise < (SELECT AVG(Gleise) FROM Bahnhoefe)

Gleise,Name
7,Baden
4,Basel Bad
3,Horw
5,Thalwil
8,Zug

In [35]:
--Aufgaben_03--
USE Zugdatenbank;

SELECT LiegtInOrt, COUNT(Name) AS 'AnzahlBahnhoefe' FROM Bahnhoefe GROUP BY LiegtInOrt HAVING COUNT(Name) > 1;

LiegtInOrt,AnzahlBahnhoefe
Basel,2

In [40]:
--Aufgabe_04--
USE Zugdatenbank;
SELECT Zug, Abfahrt FROM Verbindet WHERE Von = 'Basel SBB' AND Abfahrt > (SELECT MAX(Ankunft) FROM Verbindet WHERE Nach = 'Basel SBB'  )

Zug,Abfahrt
6,15:12:00

In [16]:
--Aufgabe_05--
USE Zugdatenbank;

: Msg 130, Level 15, State 1, Line 4
Cannot perform an aggregate function on an expression containing an aggregate or a subquery.

: Msg 207, Level 16, State 1, Line 4
Invalid column name 'Ankunft'.

: Msg 207, Level 16, State 1, Line 4
Invalid column name 'Abfahrt'.

: Msg 207, Level 16, State 1, Line 4
Invalid column name 'Ankunft'.

: Msg 207, Level 16, State 1, Line 4
Invalid column name 'Abfahrt'.

: Msg 207, Level 16, State 1, Line 4
Invalid column name 'Ankunft'.