In [1]:
USE FitnessCenter;
SELECT DISTINCT Vorname, Nachname FROM Mitarbeiter WHERE Nachname = 'Müller'

Vorname,Nachname
Jürg,Müller