In [1]:
USE FitnessCenter;
SELECT nachname, vorname FROM Kunden WHERE Geschlecht = 'w'

nachname,vorname
Hugentobler,Beatrix
Tobler,Franziska
Nussbaumer,Petra
Tschurtschenthaler,Erna