In [10]:
USE FitnessCenter;
SELECT SUM(Monatslohn) AS Monatssumme, SUM(Monatslohn * '12') AS Jahressumme FROM Mitarbeiter

Monatssumme,Jahressumme
20300,243600