In [2]:
USE Zugdatenbank;
SELECT SUM(Gleise) FROM Bahnhoefe

(No column name)
129