In [1]:
USE Zugdatenbank;
SELECT SUM(Gleise) FROM Bahnhoefe WHERE LiegtInOrt = 'Thalwil'

(No column name)
5