In [37]:
USE Zugdatenbank;
SELECT COUNT(Zug) FROM Verbindet WHERE Von = 'Olten'

(No column name)
2