In [1]:
USE Zugdatenbank;
SELECT SUM(Gleise) FROM Bahnhoefe WHERE LiegtInKanton = 'Zug' OR LiegtInKanton = 'Luzern'

(No column name)
26