In [3]:
USE Zugdatenbank;
SELECT COUNT(Abfahrt) AS 'Anzahl Abfahrten', Von FROM Verbindet GROUP BY Von ORDER BY COUNT(Abfahrt) DESC

Anzahl Abfahrten,Von
3,Basel SBB
3,Luzern
2,Olten
2,Thalwil
2,Zug
2,Zürich HB
2,Baden
1,Basel Bad
1,Horw