In [1]:
USE Zugdatenbank;
SELECT AVG(Gleise) FROM Bahnhoefe

(No column name)
14