In [7]:
USE Zugdatenbank;
SELECT Name FROM Bahnhoefe WHERE LiegtInKanton = 'Basel Stadt'

Name
Basel Bad
Basel SBB